@import '~@material/elevation/dist/mdc.elevation';
@import '~@material/button/dist/mdc.button';
@import '~@material/list/dist/mdc.list';
@import '~@material/menu/dist/mdc.menu';
@import '~@material/select/dist/mdc.select';
@import '~@material/switch/dist/mdc.switch';
@import '../../r-table';

.Panel {
  position: relative;
  max-width: 904px;
  text-align: center;
  border: 2px solid lightgrey;
  margin: 16px 8px;

  h2 {
    position: absolute;
    top: -36px;
    left: 10%;
    padding: 0 8px;
    text-align: center;
    background: white;
  }

  ul {
    display: inline-block;
  }
  .undo-redo {
    li {
      display: inline-block;
    }
    .btn {
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      vertical-align: middle;
      border: 1px solid grey;
      background: none;
    }
  }
}

.menu-item {
  display: flex;
  flex-direction: column;
  width: 180px;
  text-align: inherit;

  .reversibility {
    background: lightblue;
  }

  .toggle-enabled {
    margin: 4px 0;

    &:after {
      position: relative;
      left: 16px;
      content: 'Disabled';
      background: lightgrey;
    }
    &:checked {
      &:after {
        position: relative;
        left: 16px;
        content: 'Enabled';
        background: lightgreen;
      }
    }
  }

  .action-trigger, .switch-wrapper, i {
    margin: auto auto 0 auto;
  }

  .switch-wrapper {
    padding: 8px 0;
  }

  i {
    font-size: 24px;
    color: dimgrey;
  }
}
