@import '../../../node_modules/mdi/css/materialdesignicons.css';
@import './animation';

.Shape {
  display: inline-flex;
  width: 180px;
  height: 120px;
  background: lightgrey;
  text-align: center;
  margin: 16px;
  padding: 8px;
  vertical-align: middle;
  transition: mdc-animation-enter(/* $name: */ background, /* $duration: */ 300ms);

  & > div {
    margin: auto;
    padding: 8px;
  }
}
