body {
}

.shapes, .Panel, .Log {
  position: relative;
  max-width: 684px;
  margin: 16px 8px;
  border: 2px solid lightgrey;

  h2 {
    position: absolute;
    top: -36px;
    left: 10%;
    padding: 0 8px;
    text-align: center;
    background: white;
  }
}

.Log {
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  z-index: 1;
  margin: 16px;
}

.Panel {
  max-width: 904px;
}
